/* Sections in text */
.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table {
  font-family: sans-serif;
  border-collapse: collapse; /* Merges the borders of cells */
  width: 50%;
}
td, th {
  border: 1px solid #dddddd; /* Adds a border to cells */
  text-align: left;
  padding: 8px;
}
td {
  font-size: .8em;
}
tr:nth-child(even) {
  background-color: #f2f2f2; /* Adds zebra-striping to rows */
}

/* Text */
.tac, .center, .c {
  text-align: center;
}
.underlined, .underline, .u {
  text-decoration: underline;
}
.bold, .b {
  font-weight: bold;
}
.italic, .ital, .i {
  font-style: italic;
}
.small, .sm, .s {
  font-size: .7em;
}
.big {
  font-size: 1.65em;
}

/* Other components */
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}